= form_for Search_Poi.new, :url=> trips_search_poi_path, :remote => true, :html => {class:"form-search", :multipart => true } do |f|
  .field.hidden
    = f.text_field :account_type, :value => "poi"
  .field.col-md-4
    = f.label "Name", class:'label-large text-red'
  .field.col-md-4
    = f.text_field :first_name, class:'input-block-level text-red', placeholder: 'Name'
  .actions
    = f.submit 'Search', class:'btn btn-large btn-primary'

%br
= stylesheet_link_tag "bootstrap_profile"
.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .row
    - if @pois.present?
      - @pois.each do |p|
        .col-md-6.col-xs-12
          .panel.panel-default.container-50
            .panel-heading
              %h3.panel-title POI Details
              .panel-body
                %table.table.table-user-information
                  %tbody
                    %tr
                      %td Name
                      %td
                        = p.first_name
                        &nbsp;
                        = p.last_name
                    %tr
                      %td Email:
                      %td
                        = p.email
                    %tr
                      %td Account Type:
                      %td
                        = p.account_type
    -else
      .row
        .col-md-3
        .col-md-6.col-xs-12
          .panel.panel-default.container-50
            .panel-heading
              %h3.panel-title No results found