- @search_results.each do |station|
  .panel.panel-default.container-50
    .panel-heading
      %h3.panel-title Stationsdetails
    .panel-body
      .row
        .col-lg-4
          %img.img-thumbnail.img-circle{:style => "width: 100px; height: 100px;",:src => station.avatar.url(:medium)}
        .col-lg-8
          %table.table.table-user-information
            %tbody
              %tr
                %td Stationsname
                %td
                  = station.name
              %tr
                %td Stationsemail
                %td
                  = station.email
              %tr
                %td Art des POI
                %td
                  = station.poi_type
              %tr
                %td Dauer der Führung(hh:mm)
                %td
                  = station.duration
              %tr
                %td
                  = "Adresse "
                  %span.glyphicon.glyphicon-map-marker
                %td
                  = station.street
                  &nbsp
                  = station.house_number
                  %br
                  = station.postcode
                  = "/"
                  = station.city
                  %br
                  = station.country
              %tr
                %td{colspan: 2}
                  %br
                  = link_to 'Anzeigen', profile_poi_path(:email => station.email, :extern => true, :anchor => 'body'), :target => "_blank", :class => 'btn btn-info pull-middle'
                  = link_to 'Löschen', station, :method => :delete, :data => { :confirm => 'Bist du sicher?' }, :class => 'btn btn-danger pull-middle'
