= stylesheet_link_tag "trips/trips_tabs"
= stylesheet_link_tag "trips/trips_timeline"

:javascript

  var trip_stations = $.parseJSON("#{j @trip_stations_js}");
  var trip_j = $.parseJSON("#{j @trip_js}");

  var travelMode;

  if (trip_j.transport_type == "Driving") { travelMode = google.maps.TravelMode.DRIVING; }
    else if (trip_j.transport_type == "Walking") { travelMode = google.maps.TravelMode.WALKING; }
    else if (trip_j.transport_type == "ÖV") { travelMode = google.maps.TravelMode.TRANSIT; }


  // Startadresse
  var pointStart = new google.maps.LatLng(trip_j.meeting_point_loc[1], trip_j.meeting_point_loc[0]);
  var lastDestination = pointStart;

  var routesTrip = [];

  //loop trough all POIs
  trip_stations.forEach(function (station) {
    var point = new google.maps.LatLng(station.location[1], station.location[0]);

     calculateDistances(lastDestination, point);
     lastDestination = point;
  });

  function calculateDistances(originVal, destinationVal) {
        var service = new google.maps.DistanceMatrixService();
        service.getDistanceMatrix(
          {
            origins: [originVal],
            destinations: [destinationVal],
            travelMode: travelMode,
            unitSystem: google.maps.UnitSystem.METRIC,
            avoidHighways: false,
            avoidTolls: false
          }, callback);
  }

  var i = 0;

  function callback(response, status) {
          if (status != google.maps.DistanceMatrixStatus.OK) {
            alert('Error was: ' + status);
          } else {
            var origins = response.originAddresses;
            var destinations = response.destinationAddresses;
            var results = response.rows[0].elements;
            var textContent = "Startadresse: " + origins[0] + "<br>Zieladresse: " + destinations[0] + "<br><br>" +
                             "Distanz: " + results[0].distance.text + "<br>Dauer:" + results[0].duration.text + "<br>";

            routesTrip[i] = new Object();
            routesTrip[i].origin = origins[0];
            routesTrip[i].destination = destinations[0];
            routesTrip[i].distance = results[0].distance.text;
            routesTrip[i].duration = results[0].duration.text;
            routesTrip[i].text = textContent;

            if (trip_stations.length-1 == i){
              var j = 0;
              $('.route-distance').each(function( index ) {
                console.log(routesTrip[j].text);
                $(this).html(routesTrip[j].text);
                j++;
              });
            }

            i++;
    }
  }


  // Visibility --------------------------------------------------------------------------------------------------------

  $( document ).ready(function() {
    $('.timeline-entry-inner').find('.text').fadeOut(0);

    $('.timeline-entry-inner').find('.collapse-routepoint-out').click(
      function () {
        $(this).parent().parent().parent().parent().parent().find('.text').fadeIn(500);
        $(this).parent().parent().parent().parent().parent().find('.timeline-label').find('.img').fadeOut(50);
        $(this).fadeOut(50);
      });

    $('.timeline-entry-inner').find('.collapse-routepoint-in').click(
      function () {
        $(this).parent().parent().parent().parent().parent().find('.collapse-routepoint-out').fadeIn(50);
        $(this).parent().parent().parent().parent().parent().find('.text').fadeOut(50);
        $(this).parent().parent().parent().parent().parent().parent().find('.timeline-label').find('.img').fadeIn(50);
      }
    );

  });

.container
  .row.text-center
    .col-xs-12{ :style => "padding-bottom: 30px;"}
      .h1
        = "Stationen"
  .row
    .timeline-centered
      .timeline-centered-line
        %article.timeline-entry
          .timeline-entry-inner
            .timeline-icon.bg-start-end
              %i.fa.fa-thumbs-o-up.fa-play-circle
            %p
              Start der Tour:
              %br
              %b
                =@trip.meeting_point

      - @trip.trip_stations.each_with_index do |station, index|
        %article.timeline-entry
          .timeline-entry-inner
            .timeline-icon.bg-route
              %i.fa.fa-car
            .timeline-label
              .row
                .col-xs-2
                .col-xs-8
                  %h2
                    Routeninformationen
                .col-xs-2
                  %a{ :style=>"cursor: pointer;"}
                    .collapse-routepoint-out
                      %h2
                        %i.fa.fa-caret-square-o-down.fa-lg

              .text
                .row
                  .col-lg-12.text-center{:style => "padding-bottom: 15px;"}
                    %span
                      %br
                      %br
                      .route-distance
                .row
                  .col-xs-10
                  .col-xs-2
                    %a{ :style=>"cursor: pointer;"}
                      .collapse-routepoint-in
                        %h2
                          %i.fa.fa-caret-square-o-up.fa-lg

        %article.timeline-entry
          .timeline-entry-inner
            -if station.poi_type == "Shopping"
              .timeline-icon.bg-shopping
                %i.fa.fa-shopping-cart
            -elsif station.poi_type == "Kunst"
              .timeline-icon.bg-arts
                %i.fa.fa-glass
            -elsif station.poi_type == "Kultur/Geschichte"
              .timeline-icon.bg-arts
                %i.fa.fa-history
            -else
              .timeline-icon.bg-unknown
                %i.fa.fa-thumbs-o-up.question
            .timeline-label
              .row
                .col-xs-2
                  .img
                    %img.img-circle{:src => station.avatar.url(:medium), :width =>"50", :height=>"50"}
                .col-xs-8
                  %h2
                    = station.name
                .col-xs-2
                  %a{ :style=>"cursor: pointer;"}
                    .collapse-routepoint-out
                      %h2
                        %i.fa.fa-caret-square-o-down.fa-lg
                      %br

              .text
                .row
                  .col-lg-12.text-center{:style => "padding-bottom: 15px;"}
                    %img.img-center.img-thumbnail{:src => station.avatar.url(:medium), :width =>"200", :height=>"50"}
                  .col-lg-12
                    %table.table.table-user-information
                      %tbody
                        %tr
                          %td Stationsemail
                          %td
                            = station.email
                        %tr
                          %td Art des POI
                          %td
                            = station.poi_type
                        %tr
                          %td Dauer der Führung(hh:mm)
                          %td
                            = station.duration
                        %tr
                          %td
                            = "Adresse "
                            %span.glyphicon.glyphicon-map-marker
                          %td
                            = station.street
                            &nbsp
                            = station.house_number
                            %br
                            = station.postcode
                            = "/"
                            = station.city
                            %br
                            = station.country
                        %tr
                          %td{colspan: 2}
                            %br
                            = link_to 'Anzeigen', profile_pois_show_path(:email => station.email, :extern => true, :anchor => 'body'), :target => "_blank", :class => 'btn btn-info'
                .row
                  .col-xs-10
                    %br
                  .col-xs-2
                    %a{ :style=>"cursor: pointer;"}
                      .collapse-routepoint-in
                        %h2
                          %i.fa.fa-caret-square-o-up.fa-lg

        -if index == @trip.trip_stations.length - 1
          %article.timeline-entry
            %br
            .timeline-entry-inner
              .timeline-icon.bg-start-end
                %i.fa.fa-bolt
              %p
                Ende der Tour:
                %br
                %b
                  #{station.street} #{station.house_number}, #{station.postcode} #{station.city}