= stylesheet_link_tag "trips/trips_tabs"
= stylesheet_link_tag "trips/trips_timeline"

%script{ :src => "//code.jquery.com/jquery-1.10.2.js" }
%script{ :src => "//code.jquery.com/ui/1.11.4/jquery-ui.js" }

:javascript
  $( document ).ready(function() {
    $('.timeline-entry-inner').find('.text').fadeOut(0);

    $('.timeline-entry-inner').hover(
      function () {
        $(this).find('.timeline-label').find('.text').fadeIn(500);
        $(this).find('.timeline-label').find('.img').fadeOut(50);
      },
      function () {
        $(this).find('.timeline-label').find('.text').fadeOut(50);
        $(this).find('.timeline-label').find('.img').fadeIn(50);
      }
    );
  });

.container
  .row.text-center
    .col-xs-12{ :style => "padding-bottom: 30px;"}
      .h1
        = "Stationen"
  .row
    .timeline-centered
      %article.timeline-entry
        .timeline-entry-inner
          .timeline-icon.bg-start-end
            %i.fa.fa-thumbs-o-up.fa-play-circle
          %p Start der Tour
      %br
      - @trip.trip_stations.each_with_index do |station, index|
        %article.timeline-entry
          .timeline-entry-inner
            .timeline-icon.bg-route
              %i.fa.fa-car
            .timeline-label
              %h2
                Route
              .text
                .row
                  .col-lg-8.text-center{:style => "padding-bottom: 15px;"}
                    Weg zum Ziel

        %article.timeline-entry
          .timeline-entry-inner
            -if station.poi_type == "Shopping"
              .timeline-icon.bg-shopping
                %i.fa.fa-shopping-cart
            -elsif station.poi_type == "Kunst"
              .timeline-icon.bg-arts
                %i.fa.fa-glass
            -else
              .timeline-icon.bg-unknown
                %i.fa.fa-thumbs-o-up.question
            .timeline-label
              .row
                .col-xs-2
                  .img
                    %img.img-circle{:src => station.avatar.url(:medium), :width =>"50", :height=>"50"}
                .col-xs-8
                  %h2
                    = station.name
                .col-xs-2

              .text
                .row
                  .col-lg-8.text-center{:style => "padding-bottom: 15px;"}
                    %img.img-center.img-responsive{:src => station.avatar.url(:medium), :width =>"200", :height=>"50"}
                  .col-lg-8
                    %table.table.table-user-information
                      %tbody
                        %tr
                          %td Stationsemail
                          %td
                            = station.email
                        %tr
                          %td Art des POI
                          %td
                            = station.poi_type
                        %tr
                          %td
                            = "Adresse "
                            %span.glyphicon.glyphicon-map-marker
                          %td
                            = station.street
                            &nbsp
                            = station.house_number
                            %br
                            = station.postcode
                            = "/"
                            = station.city
                            %br
                            = station.country
                        %tr
                          %td{colspan: 2}
                            %br
                            = link_to 'Anzeigen', profile_pois_show_path(:email => station.email, :extern => true, :anchor => 'body'), :target => "_blank", :class => 'btn btn-info'

      %article.timeline-entry
        %br
        .timeline-entry-inner
          .timeline-icon.bg-start-end
            %i.fa.fa-bolt
          %p Ende der Tour