.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .row
    .col-md-2
    .col-md-8
      %h1
        ="Tourdaten"

    .col-md-2
  .row
    .col-md-3
    .col-md-6.col-xs-12
      .panel.panel-default.container-50
        .panel-heading
          %h3.panel-title Tourbeschreibung
        .panel-body
          %table.table.table-user-information
            %tbody
              %tr
                %td Name
                %td
                  = @trip.name
              %tr
                %td Description
                %td
                  = @trip.description
              %tr
                %td Type
                %td
                  = @trip.type
              %tr
                %td Guide
                %td
                  = @profile.first_name
                  &nbsp;
                  = @profile.last_name

      .panel.panel-default.container-50
        .panel-heading
          %h3.panel-title Tourdetails
        .panel-body
          %table.table.table-user-information
            %tbody
              %tr
                %td Dauer Begrüssung/Verabschiedung
                %td
                  = @trip.duration
              %tr
                %td Kontaktdaten
                %td
                  = @trip.contact
              %tr
                %td Bemerkungen
                %td
                  = @trip.notes
              %tr
                %td Treffpunkt
                %td
                  = @trip.meeting_point

      = link_to 'Tour ändern', edit_trip_path(@trip), :class => 'btn btn-primary pull-middle'
      &nbsp
      = link_to 'Zurück', trips_path, :class => 'btn btn-info pull-middle'
      %br
      %br

%div#stations
  =render partial: 'show_trip_stations'

#newTripStation.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Neue Tourstation
      .modal-body
        = render 'add_new_trip_station', modal: true
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Close
