.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .row
    .col-md-2
    .col-md-8
      .h1
        = "Tourdaten"
        %br
        %br
    .col-md-2
  .row
    .col-md-3
    .col-md-6.col-xs-12
      .panel.panel-default.container-50
        .panel-heading
          %h3.panel-title Tourbeschreibung
        .panel-body
          %table.table.table-user-information
            %tbody
              %tr
                %td Name
                %td
                  = @trip.name
              %tr
                %td Description
                %td
                  = @trip.description
              %tr
                %td Type
                %td
                  = @trip.type
              %tr
                %td Guide
                %td
                  = @profile.first_name
                  &nbsp;
                  = @profile.last_name

      .panel.panel-default.container-50
        .panel-heading
          %h3.panel-title Tourdetails
        .panel-body
          %table.table.table-user-information
            %tbody
              %tr
                %td Geplante Dauer der Tour
                %td
                  = @trip.duration
              %tr
                %td Kontaktdaten
                %td
                  = @trip.contact
              %tr
                %td Bemerkungen
                %td
                  = @trip.notes
              %tr
                %td Meeting Point
                %td
                  = @trip.meeting_point

      %br
      %br
.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .row
    .col-md-2
    .col-md-8
      .h1
        = "Stationen"
        %br
        %br
    .col-md-2
  .row
    .col-md-3
    .col-md-6.col-xs-12
      - @trip.trip_stations.each do |station|
        .panel.panel-default.container-50
          .panel-heading
            %h3.panel-title Stationsdetails
          .panel-body
            .row
              .col-lg-4
                %img.img-thumbnail.img-circle{:style => "width: 100px; height: 100px;",:src => station.avatar.url(:medium)}
              .col-lg-8
                %table.table.table-user-information
                  %tbody
                    %tr
                      %td Stationsname
                      %td
                        = station.name
                    %tr
                      %td Stationsemail
                      %td
                        = station.email
                    %tr
                      %td Art des POI
                      %td
                        = station.poi_type
                    %tr
                      %td
                        = "Adresse "
                        %span.glyphicon.glyphicon-map-marker
                      %td
                        = station.street
                        &nbsp
                        = station.house_number
                        %br
                        = station.postcode
                        = "/"
                        = station.city
                        %br
                        = station.country
                    %tr
                      %td{colspan: 2}
                        %br
                        = link_to 'Anzeigen', profile_pois_show_path(:email => station.email, :extern => true, :anchor => 'body'), :target => "_blank", :class => 'btn btn-info pull-middle'
