= javascript_include_tag "show_trip_requests"

.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .row
    .col-md-12.col-lg-12
      .h1
        = "Angefragte / Besuchte Touren"
        %br
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .panel.panel-default.container-50
          = form_tag(profiles_show_path(:page_id => "tours"), :multipart => true, :method => 'get', :id => "show_trip_requests") do
            .field.col-md-4
              = label_tag "offene Requests", nil, class:'label-large'
              %br
              = check_box_tag "open", nil, @filter_open
            .field.col-md-4
              = label_tag "akzeptierte Requests", nil, class:'label-large'
              %br
              = check_box_tag "accepted", nil, @filter_accepted
            .field.col-md-4
              = label_tag "abgelehnte Requests", nil, class:'label-large'
              %br
              = check_box_tag "rejected", nil, @filter_rejected
            .action
              %br
              %br
              = submit_tag "Filter setzen", class:'btn btn-large btn-primary'
      %div#show_tour_requests
        = render "show_tour_requests"