.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .row
    .col-md-2
    .col-md-8
      .h1
        = "Profildaten"
    .col-md-2
  .row
    .col-md-3
    .col-md-6.col-xs-12
      .panel.panel-default.container-50
        .panel-heading
          %h3.panel-title Userdaten
        .panel-body
          %table.table.table-user-information
            %tbody
              %tr
                %td Name
                %td
                  = profile.first_name
                  &nbsp;
                  = profile.last_name
              %tr
                %td Email:
                %td
                  = profile.email
              %tr
                %td Account Type:
                %td
                  = profile.account_type

      .panel.panel-default.container-50
        .panel-heading
          %h3.panel-title Kontaktdaten
        .panel-body
          %table.table.table-user-information
            %tbody
              %tr
                %td Adresse
                %td
                  = profile.street
                  &nbsp
                  = profile.house_number
              %tr
                %td Ort:
                %td
                  = profile.postcode
                  = "/"
                  = profile.city
              %tr
                %td Land:
                %td
                  = profile.country

      .panel.panel-default.container-50
        .panel-heading
          %h3.panel-title Logindaten
        .panel-body
          %table.table.table-user-information
            %tbody
              %tr
                %td Profile erstellt
                %td
                  = profile.created_at
              %tr
                %td Last Update
                %td
                  = profile.updated_at
              %tr
                %td Anzahl Logins
                %td
                  = user.sign_in_count
              %tr
                %td Letztes Login
                %td
                  = user.last_sign_in_at
              %tr
                %td Aktueller Login
                %td
                  = user.current_sign_in_at