:javascript
  $(window).load(function(){
    fillDropdownHour('selectHour');
    fillDropdownMin('selectMin');
  });

  function callSaveTime(){
    saveTime('selectHour', 'selectMin', 'trip_request_start', 'trip_request_end',"#{j @trip.duration}");
  }


= form_for(@trip_request, html: {class:"form-search smaller"}) do |trip|
  %h2.text-red
    ="Touranfrage für Tour"
  .row
    .col-lg-12
      %h3
        = @trip.name
      %i
        = "Guide:"
      %br
      = "#{@profile.first_name} #{@profile.last_name}"
      %br
      %br
      %img.img-thumbnail.img-circle{:style => "width: 100px; height: 100px;",:src => @profile.avatar.url(:medium)}
      %br
      %br

  = fields_for :contact, @contact do |contact|
    .field.hidden
      = contact.text_field :subject, :value => "Touranfrage für Tour: #{@trip.name}"
    .field.hidden
      = contact.text_field :sender_account_type, :value => @sender_account_type
    .field.hidden
      = contact.text_field :sender_name, :value => @sender_name
    .field.hidden
      = contact.text_field :sender_email, :value => @sender_email
    .field.hidden
      = contact.text_field :receiver_name, :value => @receiver_name
    .field.hidden
      = contact.text_field :receiver_email, :value => @receiver_email
  .field.hidden
    = trip.text_field :trip_id, :value => @trip.id
  .field.hidden
    = trip.text_field :trip_name, :value => @trip.name
  .field.hidden
    = trip.text_field :guide_name, :value => @receiver_name
  .field.hidden
    = trip.text_field :guide_email, :value => @receiver_email
  .field.hidden
    = trip.text_field :tourist_id, :value => @sender_id
  .field.hidden
    = trip.text_field :tourist_name, :value => @sender_name
  .field
    = trip.label "Touranfrage", class: 'control-label'
    %br/
    = trip.text_area :request_descr, :rows => "10", class: 'form-control', :placeholder => "Anfragetext für Tour"
    %span.help-block
  .field
    = trip.label "Wer nimmt teil?", class: 'control-label'
    %br/
    = trip.text_area :who_wants, :rows => "10", class: 'form-control', :placeholder => "Wie gross ist die Gruppe der Teilnehmer?"
    %span.help-block
  .field
    = trip.label "An welchem Tag?", class: 'control-label'
    %br/
    = trip.text_field :date, {class: 'datepicker form-control text-center', 'data-provide' =>'datepicker', "data-date-format"=>"dd/mm/yyyy", :placeholder => "Wann soll die Tour stattfinden?"}
    %span.help-block
  .field
    = trip.label "Wann? (Uhrzeit)", class: 'control-label'
    %br
    %select#selectHour{ :onchange => "callSaveTime()"}
      %option 00
    = ":"
    %select#selectMin{ :onchange => "callSaveTime()"}
      %option 00
    %span.help-block
  .field.hidden
    = trip.text_field :start
    = trip.text_field :end
  .field
    = trip.label "Bemerkungen", class: 'control-label'
    %br/
    = trip.text_area :notes, :rows => "10", class: 'form-control', :placeholder => "Weitere Anmerkungen, Kontaktmöglichkeiten, Fragen?"
    %span.help-block
  .actions
    = trip.submit 'Submit', class: 'btn btn-primary'
    %br
    %br
    = link_to 'Zurück', profiles_search_guides_path, :class => 'btn btn-info pull-middle'

