=render "profiles/search_guides_search"
%br
= stylesheet_link_tag "bootstrap_profile"
.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .row
    - if @trips.present?
      - @trips.each do |trip|
        - @guides.each do |guide|
          - if trip.guide_email == guide.email
            .col-md-6.col-xs-12
              .panel.panel-default.container-50
                .panel-heading
                  %h3.panel-title Tour Details
                  .panel-body
                    .row
                      .col-lg-4
                        .row
                          .col-lg-12.text-center
                            %h2
                              = trip.name
                        .row
                          .col-lg-12
                            %i
                              = "Guide:"
                            %br
                            = "#{guide.first_name} #{guide.last_name}"
                            %br
                            %br
                            %img.img-thumbnail.img-circle{:style => "width: 100px; height: 100px;",:src => guide.avatar.url(:medium)}
                      .col-lg-8
                        %table.table.table-user-information
                          %tbody
                            %tr
                              %td Tourbeschreibung
                              %td
                                = trip.description
                            %tr
                              %td Tourtype
                              %td
                                = trip.type
                            %tr
                              %td Kontaktmöglichkeiten
                              %td
                                = trip.contact
                            %tr
                              %td Guide
                              %td
                                = "#{guide.first_name} #{guide.last_name}"
                            %tr
                              %td{colspan: 2}
                                %br
                                = link_to 'Tour', trips_show_external_path(:id => trip.id, :extern => true, :anchor => 'body'), :target => "_blank", :class => 'btn btn-info pull-middle'
                                = link_to 'Guide', profile_guides_show_path(:profile_id => guide.id, :extern => true, :anchor => 'body'), :target => "_blank", :class => 'btn btn-info pull-middle'
                                %br
                                %br
                                = link_to 'Kontakt aufnehmen', profiles_contact_path(:sender_name => "#{@profile.first_name} #{@profile.last_name}",
                                                                        :sender_email => @profile.email,
                                                                        :receiver_email => guide.email,
                                                                        :receiver_name => "#{guide.first_name} #{guide.last_name}",
                                                                        :tour_id => trip.id,
                                                                        :sender_id => @profile.id,
                                                                        :anchor => 'body'), :class => 'btn btn-primary pull-middle'

    -else
      .col-md-3
      .col-md-6.col-xs-12
        .panel.panel-default.container-50
          .panel-heading
            %h3.panel-title No results found