= stylesheet_link_tag "bootstrap_profile"
.container{:style => "margin-top: 20px; margin-bottom: 20px;"}
  .row.bg_profile{:style => "background-image: url(#{image_path "#{@profile.profile_bg.url(:medium)}"})"}
    .col-md-12
      .row
        .col-md-1.top-25
          %a.text-white.fa.fa-edit.fa-2x{:href => edit_profile_path(@profile.id), :title => "Edit"}
        .col-md-11
      .row
        .col-md-1.top-230
          %h2.text-white
            = @profile.first_name
        .col-md-11.top-75
          %img.img-thumbnail.img-circle.picture{:src => @profile.avatar.url(:medium)}
  .row
    .col-md-12
  .row.nav
    .col-md-12.col-xs-12{:style => "margin: 0px;padding: 0px;"}
      .col-md-6.col-xs-4.nav-profile
        %i.fa.fa-users.fa-lg
        = link_to "Profildaten", profiles_show_path(:page_id => "user_profile"), :remote => true
      .col-md-6.col-xs-4.nav-profile
        %i.fa.fa-heart-o.fa-lg
        = link_to "Verwalte deine Touren", profiles_show_path(:page_id => "tours"),  :remote => true

.container.container-50
  .row
    .col-md-12.col-xs-12
      %div{ :id => "content_container"}
        =render partial: 'user_profile', :locals => { :profile => @profile, :user => @user }


