
= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class:"form-signIn larger", method: :put }) do |f|
  %div.text-red
    = devise_error_messages!
  %h2.text-red
    ="Please edit your registration"
  .field
    = f.label :email, class:'label-large text-red'
    %div
      %span.fa.fa-check.text-success.hidden{:id => 'emailsuccess'}
      %span.fa.fa-remove.text-red.hidden{:id => 'emailwrong'}
      %span{:id => 'emailcontent'}
    = f.email_field :email, :id => 'email', :autofocus => true, class:'input-block-level text-red', placeholder: 'email@adresse.com', :onkeyUp => "checkEmail()"
  %br
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    = f.label :password, class:'label-large text-red'
    %i (leave blank if you don't want to change it)
    %br/
    %div
      %span.fa.fa-check.text-success.hidden{:id => 'keysuccess'}
      %span.fa.fa-remove.text-red.hidden{:id => 'keywrong'}
      %span{:id => 'keycontent'}
    = f.password_field :password, :id => 'key', class:'input-block-level text-red', placeholder: 'Password', :onkeyUp => "checkPassword()"
    .checkbox
      %span.character-checkbox{:onclick => "showPassword()"}
      %span.label Show password
  .field
    = f.label :password_confirmation, class:'input-block-level text-red'
    %br/
    = f.password_field :password_confirmation, autocomplete: "off", class:'input-block-level text-red'
  .field
    = f.label :current_password, class:'input-block-level text-red'
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "off", class:'input-block-level text-red'
  .actions
    = f.submit 'Update', class:'btn btn-large btn-primary'
  %hr
    = render 'devise/shared/links'
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
