.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .row
    .col-md-12.col-lg-12
      .h1
        = "Tourangebote"
      %br
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
          - @trips.each do |t|
            - if t.guide_email == @profile.email
              .col-md-6.col-xs-12
                .panel.panel-default.container-50
                  .panel-heading
                    %h3.panel-title Tour
                  .panel-body
                    %table.table.table-user-information
                      %tbody
                        %tr
                          %td Name
                          %td
                            = t.name
                        %tr
                          %td Description
                          %td
                            = t.description
                        %tr
                          %td Type
                          %td
                            = t.type
                        -if params[:extern].blank?
                          %tr
                            %td
                            %td{colspan: 2}
                              %br
                              = link_to 'Anzeigen', trip_path(t.id, :anchor => 'body'), :target => "_blank", :class => 'btn btn-info pull-middle'
