= stylesheet_link_tag "bootstrap_profile"
.container{:style => "margin-top: 20px; margin-bottom: 20px;"}
  .row.bg_profile{:style => "background-image: url(#{image_path "#{@profile.profile_bg.url(:medium)}"})"}
    .col-md-12.col-lg-12
      - if @extern.blank?
        .row
          .col-md-1.top-25
            %a.text-white.fa.fa-edit.fa-2x{:href => edit_profile_guide_path(@profile.id, :anchor => 'body'), :title => "Edit"}
          .col-md-11
      .row
        .col-md-1.top-230
          %h2.text-white.header_profile_txt
            = @profile.first_name
        .col-md-11.top-75
          %img.img-thumbnail.img-circle.picture{:src => @profile.avatar.url(:medium)}
  .row
    .col-md-12
  .row.nav
    .col-md-12.col-xs-12{:style => "margin: 0px;padding: 0px;"}
      - if @extern.blank?
        .col-md-4.col-xs-4.nav-profile
          %i.fa.fa-users.fa-lg
          = link_to "Profildaten", profile_guides_show_path(:page_id => "user_profile"), :remote => true
        .col-md-4.col-xs-4.nav-profile
          %i.fa.fa-heart-o.fa-lg
          = link_to "Touranfragen", profile_guides_show_path(:page_id => "trip_requests"), :remote => true
        .col-md-4.col-xs-4.nav-profile
          %i.fa.fa-thumbs-o-up.fa-lg
          = link_to "Buchungen", profile_guides_show_path(:page_id => "booked_tours"), :remote => true
      -else
        .col-md-6.col-xs-6.nav-profile
          %i.fa.fa-users.fa-lg
          = link_to "Profildaten", profile_guides_show_path(:page_id => "user_profile", :profile_id => @profile.id, :extern => true), :remote => true
        .col-md-6.col-xs-6.nav-profile
          %i.fa.fa-thumbs-o-up.fa-lg
          = link_to "Buchungen", profile_guides_show_path(:page_id => "booked_tours", :profile_id => @profile.id, :extern => true), :remote => true

.container.container-50
  .row
    .col-md-12.col-xs-12
      %div{ :id => "content_container"}
        =render partial: 'user_profile', :locals => { :profile => @profile, :user => @user }


