= simple_form_for(@trip_request) do |f|
  = f.error_notification

  .form-inputs
    = f.input :trip_id
    = f.input :tourist_id
    = f.input :request_descr
    = f.input :who_wants
    = f.input :date
    = f.input :start
    = f.input :end
    = f.input :notes

  .form-actions
    = f.button :submit
