%p#notice= notice

%p
  %b Trip:
  = @trip_request.trip_id
%p
  %b Tourist:
  = @trip_request.tourist_id
%p
  %b Request descr:
  = @trip_request.request_descr
%p
  %b Who wants:
  = @trip_request.who_wants
%p
  %b Date:
  = @trip_request.date
%p
  %b Duration:
  = @trip_request.start
  = " bis "
  = @trip_request.end
%p
  %b Notes:
  = @trip_request.notes

= link_to 'Edit', edit_trip_request_path(@trip_request)
\|
= link_to 'Back', trip_requests_path
