= javascript_include_tag "search_pois"

= form_for Search_Poi.new, :url=> search_pois_path, :html => {class:"form-search", :multipart => true, :method => 'get', :id => "pois_search" } do |f|
  %h2.text-red
    ="Find your POI"
  %br
  .field.col-md-4
    = f.label 'POI Name', class:'label-large text-red'
  .field.col-md-4
    = f.label :email, class:'label-large text-red'
  .field.col-md-4
    = f.label :poi_type, class:'label-large text-red'

  .field.col-md-4
    = f.text_field :name, class:'input-block-level text-red', placeholder: 'Name'
  .field.col-md-4
    = f.text_field :email, class:'input-block-level text-red', placeholder: 'Email'
  .field.col-md-4
    = f.select :poi_type, options_for_select([' ', 'Kutur/Geschichte', 'Kunst', 'Shopping', 'Deluxe']), {class:'form-control_bootsforms input-block-level text-red' }
    %br
    %br
  .field.col-md-4
    = f.label :postcode, class:'label-large text-red'
  .field.col-md-4
    = f.label :city, class:'label-large text-red'
  .field.col-md-4
    = f.label :country, class:'label-large text-red'

  .field.col-md-4
    = f.text_field :postcode, class:'input-block-level text-red', placeholder: 'PLZ'
  .field.col-md-4
    = f.text_field :city, class:'input-block-level text-red', placeholder: 'Stadt'
  .field.col-md-4
    = f.text_field :country, class:'input-block-level text-red', placeholder: 'Land'
  .actions
    = f.submit 'Search', class:'btn btn-large btn-primary'
