Hallo #{@profile.first_name} #{@profile.last_name}



Der Status Ihrer Touranfrage bei dem Guide #{@trip_request.guide_name} hat sich geändert.

Die Tour: #{@trip_request.trip_name} wurde #{@status}


Beste Grüsse dein berlinarttours Team


