%p
  = "Hallo #{@profile.first_name} #{@profile.last_name}"
  %br
  %br
%p
  = "Der Tourist: #{@trip_request.tourist_name} hat die Touranfrage für die Tour: #{@trip_request.trip_name} gelöscht."
  %br
  %br
  %br
  %br
  = "Beste Grüsse dein berlinarttours Team"


