Hello #{@contact.receiver_name}


Mein Name ist #{@contact.sender_name}, ich bin ein #{@contact.sender_account_type}.

Mein Email Adresse lautet #{@contact.sender_email}.

Mein Anliegen:
#{@contact.reason}



