Hallo #{@contact.receiver_name}


Mein Name ist #{@contact.sender_name}, ich bin ein #{@contact.sender_account_type}."

Mein Email Adresse lautet #{@contact.sender_email}."

Ich würde gerne die Tour: #{@trip.name} bei Ihnen buchen."


Anfragetext:"

#{@trip_request.request_descr}

Wie viele Leute möchten teilnehmen:

#{@trip_request.who_wants}

Wann:

#{@trip_request.when}

Bemerkungen:

#{@trip_request.notes}



Beste Grüsse dein berlinarttours Team




