= simple_nested_form_for @guide_tour do |f|

  = f.error_notification
  = f.input :tour_name

  - @guide_tour.stations.each do |s|
    = f.simple_fields_for :stations, s do |p|
      = p.label_tag :name
      = p.text_field :name
      = link_to "asd", p
      = p.link_to_remove 'delete this image'


  = f.simple_fields_for :stations do |station_form|
    = station_form.text_field :name
    %br
    %br
    = station_form.link_to_remove "Remove this station"
    %br
  = f.link_to_add "Add a station", :stations
  = link_to "asdad", new_guide_tour_station

  = f.button :submit

