= simple_nested_form_for @guide_tour do |f|

  = f.error_notification
  = f.input :tour_name

  = f.simple_fields_for :stations do |station_form|
    = station_form.text_field :name
    = station_form.button :submit
    %br
    = link_to 'Show Full Article', guide_tours_search_path(@guide_tour), :remote => true
    %br
    %br
    /= station_form.link_to_remove "Remove this station"
    %br
  = f.link_to_add "Add a station", :stations

  = f.button :submit

