= stylesheet_link_tag "step_forms"
= javascript_include_tag "step_forms"
.container
  .stepwizard
    .stepwizard-row.setup-panel
      .stepwizard-step
        %a.btn.btn-primary.btn-circle-steps{:href => "#step-1", :type => "button"} 1
        %p Tourbeschreibung
      .stepwizard-step
        %a.btn.btn-default.btn-circle-steps{:disabled => "disabled", :href => "#step-2", :type => "button"} 2
        %p Tourdetails
      .stepwizard-step
        %a.btn.btn-default.btn-circle-steps{:disabled => "disabled", :href => "#step-3", :type => "button"} 3
        %p Wähle Tourstationen
  = form_for @guide_tour, :remote => true, :html => {role: "form", :multipart => true } do |f|
    #step-1.row.setup-content
      .col-xs-12
        .col-md-12
          %h3 Tourbeschreibung
          .form-group
            %label.control-label Tourname
            = f.text_field :tour_name, :placeholder => "Tourname", :required => "required", :type => "text", :class => "form-control"
          .form-group
            %label.control-label Tourbeschreibung
            = f.text_area :description, :placeholder => "Tourbeschreibung", :required => "required", :type => "text", :class => "form-control"
          .form-group.hidden
            = f.text_field :guide_email, :value => @profile.email, :required => "required", :type => "text"
          .form-group
            %label.control-label Tourdauer(hh:mm)
            %br
            = f.time_select :duration, :ignore_date => true, :placeholder => "Tourdauer", :required => "required", :class => "form-control"
          %button.btn.btn-primary.nextBtn.pull-right{:type => "button"} Next
    #step-2.row.setup-content
      .col-xs-12
        .col-md-12
          %h3 Tourbeschreibung
          .form-group
            %label.control-label Meeting Point
            = f.text_field :meeting_point, :placeholder => "Meeting Point", :required => "required", :type => "text", :class => "form-control"
          .form-group
            %label.control-label Strasse
            = "/"
            %label.control-label Hausnummer
            = f.text_field :street, :placeholder => "Strasse", :required => "required", :type => "text", :class => "form-control"
            %br
            = f.text_field :house_number, :placeholder => "Hausnummer", :required => "required", :type => "number", :class => "form-control"
          .form-group
            %label.control-label PLZ
            = f.text_field :postcode, :placeholder => "PLZ", :required => "required", :type => "number", :class => "form-control"
          .form-group
            %label.control-label Stadt
            = f.text_field :city, :placeholder => "Stadt", :required => "required", :type => "text", :class => "form-control"
          .form-group
            %label.control-label Land
            = f.text_field :country, :placeholder => "Land", :required => "required", :type => "text", :class => "form-control"
          %button.btn.btn-primary.nextBtn.pull-right{:type => "button"} Next
    #step-3.row.setup-content
      .col-xs-12
        .col-md-12
          %h3 Tourstationen
          .form-group
            %label.control-label Vielen Dank für das Anlegen deiner Tour. Nun wähle deine Tourstationen aus:
            %br
            = submit_tag "add"
            = submit_tag "subtract"
            = submit_tag "multiply"

          .form-group
            = f.fields_for :stations do |station|
              = render 'station_fields', f: station
            = link_to_add_fields "Add Station", f, :stations
            %br
            %br

          .form-group
            %button.btn.btn-primary.nextBtn.pull-middle{:type => "submit"} finish
