
:javascript

  //open
  var trips_open_j = $.parseJSON('#{j @trips_open_js}');
  var trips_open_baseData_j = $.parseJSON('#{j @trips_open_basicData_js}');
  var trips_open_tourist_j = $.parseJSON('#{j @trips_open_tourist_js}');

  //nested
  var trips_booked_j = $.parseJSON('#{j @trips_booked_js}');
  var trips_booked_baseData_j = $.parseJSON('#{j @trips_booked_basicData_js}');
  var trips_booked_tourist_j = $.parseJSON('#{j @trips_booked_tourist_js}');

  var date;
  var dates = [];
  var index = 0;

  trips_booked_j.forEach( function(trip_booked){
    var trip_base = trips_booked_baseData_j[index][0];
    var tourist = trips_booked_tourist_j[index];

    pushData(trip_booked, trip_base, tourist, '#c2890d', 'open');
    index ++;
  });

  index = 0;
  trips_open_j.forEach( function(trip_open){
    var trip_base = trips_open_baseData_j[index][0];
    var tourist = trips_open_tourist_j[index];

    pushData(trip_open, trip_base, tourist, '#339900', 'accepted');
    index ++;
  });

  function pushData(trip_request, trip_base, trip_tourist, color, status){
    var arrDate =  trip_request.date.split("/");
    var arrTimeStart = trip_request.start.split(":");
    var arrTimeEnd = trip_request.end.split(":");

    // new Date(Jahr, Monat, Tag, Stunden, Minuten, Sekunden)
    var start = new Date(arrDate[2], arrDate[1], arrDate[0], arrTimeStart[0], arrTimeStart[1], 00);
    var end = new Date(arrDate[2], arrDate[1], arrDate[0], arrTimeEnd[0], arrTimeEnd[1], 00);

    dates.push({
    title: trip_base.name,
    start: start,
    end: end,
    allDay: false,
    editable: false,
    tooltip: "Tour: "+ trip_base.name +
              "\n\n" + trip_request.tourist_name + " booked: \n" +
              "Status: " + status +
              "\n\nBeschreibung \n" + trip_request.request_descr +
              "\n\nBeginn/Ende:\n" + trip_request.start +
              " - " + trip_request.end +
              "\n\nBemerkungen: \n" + trip_request.notes,
    mailTo: trip_tourist.email,
    color: color
    });
  }

  $('#calendar').fullCalendar({
      header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
      },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: dates,
      eventRender: function(event, element) {
        element.attr('title', event.tooltip);
      },
      eventClick: function(calEvent, jsEvent, view) {
        if (confirm(calEvent.tooltip + "\n\n" + "Email-Kontakt mit dem Requester: auf 'OK' klicken, ansonsten auf 'ABBRECHEN'.")){
          window.location = "mailto:"+calEvent.mailTo;
        }
      }
    });




.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .row
    .col-md-12.col-lg-12
      .h1
        = "Gebuchte Touren"
  .row
    .col-xs-2.col-sm-2.col-md-2.col-lg-2
    .col-xs-8.col-sm-8.col-md-8.col-lg-8
      .panel.panel-default.container-50
        .panel-heading
          %h3.panel-title Anzahl gebuchte Touren:
          .panel-body
            .row
              .col-lg-3
              .col-lg-6
                .row
                  .col-lg-12.text-center
                    - if @trips_booked.present?
                      ="Anzahl Buchungen:"
                      = @trips_booked.count

                    -else
                      keine gebuchten Touren vorhanden
                      %br
              .col-lg-3
            .row
              .col-lg-3
              .col-lg-6
                .row
                  .col-lg-12.text-center
                    - if @trips_open.present?
                      ="Anzahl Buchungsanfragen:"
                      = @trips_open.count

                    -else
                      keine Touranfragen vorhanden
                      %br
              .col-lg-3
    .col-xs-2.col-sm-2.col-md-2.col-lg-2

  .row
    .col-xs-2.col-sm-2.col-md-2.col-lg-2
    .col-xs-8.col-sm-8.col-md-8.col-lg-8
      %br
      #calendar
      %br
      %br
    .col-xs-2.col-sm-2.col-md-2.col-lg-2