= form_for @profile, :html => {class:"form-signin larger", :multipart => true }  do |f|
  %h2.text-red
    ="Edit your profile:"
  %h2
    %img.img-thumbnail.img-circle{:style => "width: 200px; height: 200px;",:src => @profile.avatar.url(:medium)}
  .field.hidden
    = f.email_field :email, :value => @user.email
  .field.hidden
    = f.text_field :user_id, :value => @user.id
  .field.hidden
    = f.text_field :account_type, :value => @profile.account_type
  .field
    %b.label-large.text-red
      = "F체ge deinen eigenen Avatar hinzu"
    %br
    %br
  .field
    .fileinput.fileinput-new{"data-provides" => "fileinput"}
      .fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
        =image_tag @profile.avatar.url
      .fileinput-preview.fileinput-exists.thumbnail.img-circle{:style => "width: 200px; height: 150px;"}
      %div
        %span.btn.btn-large.btn-primary.btn-file
          %span.fileinput-new Select image
          %span.fileinput-exists Change
          = f.file_field :avatar
        %a.btn.btn-large.btn-primary.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Remove
  .field
    %br
    %b.label-large.text-red
      = "W채hle deinen Profile Hintergrund aus"
    %br
    %br
  .field
    .fileinput.fileinput-new{"data-provides" => "fileinput"}
      .fileinput-new.thumbnail{:style => "width: 200px; height: 120px;"}
        =image_tag  @profile.profile_bg.url
      .fileinput-preview.fileinput-exists.thumbnail{:style => "width: 200px; height: 150px;"}
      %div
        %span.btn.btn-large.btn-primary.btn-file
          %span.fileinput-new Select image
          %span.fileinput-exists Change
          = f.file_field :profile_bg
        %a.btn.btn-large.btn-primary.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Remove
  -if @profile.account_type == "poi"
    .field
      %br
      %b.label-large.text-red
        = "W채hle deine Studiophotos"
      %br
      %br
    .field
      .fileinput.fileinput-new{"data-provides" => "fileinput"}
        .fileinput-new.thumbnail{:style => "width: 200px; height: 120px;"}
          =image_tag "blank_landscape.jpg"
        .fileinput-preview.fileinput-exists.thumbnail{:style => "width: 200px; height: 150px;"}
        %div
          %span.btn.btn-large.btn-primary.btn-file
            %span.fileinput-new Select image
            %span.fileinput-exists Change
            = f.file_field :gallery_pic1
          %a.btn.btn-large.btn-primary.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Remove
    .field
      %br
      %br
    .field
      .fileinput.fileinput-new{"data-provides" => "fileinput"}
        .fileinput-new.thumbnail{:style => "width: 200px; height: 120px;"}
          =image_tag "blank_landscape.jpg"
        .fileinput-preview.fileinput-exists.thumbnail{:style => "width: 200px; height: 150px;"}
        %div
          %span.btn.btn-large.btn-primary.btn-file
            %span.fileinput-new Select image
            %span.fileinput-exists Change
            = f.file_field :gallery_pic2
          %a.btn.btn-large.btn-primary.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Remove
    .field
      %br
      %br
    .field
      .fileinput.fileinput-new{"data-provides" => "fileinput"}
        .fileinput-new.thumbnail{:style => "width: 200px; height: 120px;"}
          =image_tag "blank_landscape.jpg"
        .fileinput-preview.fileinput-exists.thumbnail{:style => "width: 200px; height: 150px;"}
        %div
          %span.btn.btn-large.btn-primary.btn-file
            %span.fileinput-new Select image
            %span.fileinput-exists Change
            = f.file_field :gallery_pic3
          %a.btn.btn-large.btn-primary.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Remove

    %br
    %br
  .field
    = f.label :name, class:'label-large text-red'
  .field
    = f.text_field :name, class:'input-block-level text-red', placeholder: 'POI Name', :required => true
  .field
    = f.label "Art des POI", class:'label-large text-red'
  .field
    = f.select :poi_type, options_for_select(['Kutur/Geschichte', 'Kunst', 'Shopping', 'Deluxe']), {class:'form-control_bootsforms text-red', :required => true }
  .field
    = f.label :duration, "Dauer der F체hrung(hh:mm)", class:'label-large text-red'
  .field
    = f.text_field :duration, class:'form-control_bootsforms text-red', placeholder: 'hh:mm', :required => true
  .field
    = f.label :description, class:'label-large text-red'
  .field
    = f.text_area :description, class:'form-control_bootsforms text-red', placeholder: 'Beschreibe dein POI', :required => true
  .field
    = f.label :phone, class:'label-large text-red'
  .field
    = f.text_field :phone, class:'input-block-level text-red', placeholder: 'Telefon'
  .field
    = f.label :mobile, class:'label-large text-red'
  .field
    = f.text_field :mobile, class:'input-block-level text-red', placeholder: 'Mobile'
  .field
    = f.label :street, class:'label-large text-red'
    = "/"
    = f.label :house_number, class:'label-large text-red'
  .field
    = f.text_field :street, class:'input-block-level text-red', placeholder: 'Strasse', :required => true
    = f.text_field :house_number, class:'input-block-level text-red', placeholder: 'Hausnr.', :required => true
  .field
    = f.label :postcode, class:'label-large text-red'
  .field
    = f.text_field :postcode, class:'input-block-level text-red', placeholder: 'PLZ', :required => true
  .field
    = f.label :city, class:'label-large text-red'
    ="/"
    = f.label :country, class:'label-large text-red'
  .field
    = f.text_field :city, class:'input-block-level text-red', placeholder: 'Stadt', :required => true
    = f.text_field :country, class:'input-block-level text-red', placeholder: 'Land', :required => true
  .actions
    = f.submit 'Update', class:'btn btn-large btn-primary'