= form_for Search_Poi.new, :url=> search_pois_path, :html => {class:"form-search", :multipart => true } do |f|
  %h2.text-red
    ="Find your POI"
  %br
  .field.hidden
    = f.text_field :account_type, :value => "poi"
  .field.col-md-4
    = f.label 'POI Name', class:'label-large text-red'
  .field.col-md-4
    = f.label :street, class:'label-large text-red'
  .field.col-md-4
    = f.label :house_number, class:'label-large text-red'

  .field.col-md-4
    = f.text_field :first_name, class:'input-block-level text-red', placeholder: 'Name'
  .field.col-md-4
    = f.text_field :street, class:'input-block-level text-red', placeholder: 'Strasse'
  .field.col-md-4
    = f.text_field :house_number, class:'input-block-level text-red', placeholder: 'Hausnr.'

  .field.col-md-4
    = f.label :postcode, class:'label-large text-red'
  .field.col-md-4
    = f.label :city, class:'label-large text-red'
  .field.col-md-4
    = f.label :country, class:'label-large text-red'

  .field.col-md-4
    = f.text_field :postcode, class:'input-block-level text-red', placeholder: 'PLZ'
  .field.col-md-4
    = f.text_field :city, class:'input-block-level text-red', placeholder: 'Stadt'
  .field.col-md-4
    = f.text_field :country, class:'input-block-level text-red', placeholder: 'Land'
  .actions
    = f.submit 'Search', class:'btn btn-large btn-primary'
